In [21]:
import pandas as pd
import numpy as np

In [15]:
df1 = pd.read_excel(r'BD_App_List.xlsx', column=['app_name'])
df2 = pd.read_csv('items.csv')

In [12]:
df1.head()

,country,store_cat,app,app_name
0,BD,Video Players,com.mxtech.videoplayer.ad,MX Player
1,BD,Video Players & Editors,video.like,Likee - Formerly LIKE Video
2,BD,Video Players,com.rahul.videoderbeta,NaN
3,BD,Video Players & Editors,com.androvid,AndroVid - Video Editor
4,BD,Video Players,com.utorrent.client,ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂµTorrentÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â...

In [10]:
df2.head()

                                                NAME    Categories
0     লিখন - ছবিতে বাংলা | Likhon - Bangla on Photos  Art & Design
1  আবেগ : Abeg - ছবিতে বাংলা লিখুন, Bangla on Photos  Art & Design
2    বাংলা টাইপোগ্রাফি | ছবিতে লিখুন মনের কথা বাংলায়  Art & Design
3               রংতুলি । Rongtuli - Bangla on Photos  Art & Design
4             মেহেদি ডিজাইন ২০২০~ mehndi design 2020  Art & Design

In [20]:
df1['app_name'].isin(df2['NAME']).value_counts()

True     1999
False     115
Name: app_name, dtype: int64

In [27]:
df1_list = df1['app_name'].tolist()
df2_list = df2['NAME'].tolist()

In [29]:
print(len(df1_list), len(df2_list))

2114 1999

In [48]:
df1_set = set(df1_list)
df2_set = set(df2_list)
print(len(df1_set), len(df2_set))

1283 1282

In [44]:
all_list = df1_list + df2_list
all_set = set(all_list)
print(len(all_list), len(all_set))

4113 1283

In [46]:
df1_union_df2 = df1_set.union(df2_set)

In [47]:
len(df1_union_df2)

1283